@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@theme {
	--font-lexend: 'Lexend', sans-serif;
	--font-size: 16px;
	--line-height: 1.5;
	--text-color: #333;
	--background-color: #f9f9f9;
	--primary-color: #4a90e2;
	--secondary-color: #50e3c2;
}
